doctype html
html
    head
        title Fractured League
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/index.css' rel='stylesheet')
    body
        include include/top-bar.jade

        .backdrop-cover
            if message
                .well.message #{message}

            if personal
                .match-title Your Matches
                    .personal
                        .match-box.panel.panel-danger
                            .panel-heading
                                .match-time-remaining In 5 minutes
                                .match-name.panel-title Season 0, Round 1
                            .panel-body
                                .match-date Date: July 30, 2015 (Thursday)
                                .match-time Time: 12:00 pm GMT
                                .match-team1 Team 1: Devs
                                span vs
                                .match-team2 Team 2: Community
            .match-title Upcoming Matches
            .open
                .match-box.panel.panel-danger
                    a.panel-heading(href='/match/1')
                        .match-time-remaining In 5 minutes
                        .match-name.panel-title Season 0, Round 1
                    .panel-body
                        .match-date Date: July 30, 2015 (Thursday)
                        .match-time Time: 12:00 pm GMT
                        .match-team1 Team 1: Devs
                        span vs
                        .match-team2 Team 2: Community
                .match-box.panel.panel-danger
                    a.panel-heading(href='/match/2')
                        .match-time-remaining In 1 day
                        .match-name.panel-title Season 0, Round 2
                    .panel-body
                        .match-date Date: July 31, 2015 (Thursday)
                        .match-time Time: 13:00 pm GMT
                        .match-team1 Team 1: Community
                        span vs
                        .match-team2 Team 2: Devs
        script(src='js/jquery-2.1.4.min.js')
        script(src='js/masonry.min.js')
        script(src='js/index.js')
