doctype html
html
    head
        title Fractured Pugs - Login
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/login.css' rel='stylesheet')
    body
        include include/top-bar

        .backdrop-cover
            if message
                .well.message #{message}

            .login-center
                .login-title
                    img(src='img/logo.png' alt='logo')
                form.form-horizontal.login-form(action='/login', method='post')
                    .form-group-lg
                        input.form-control(type='text', name='user', placeholder='Username or Email')
                        input.form-control(type='password', name='pass', placeholder='Password')
                        input.btn.btn-primary.form-control(type='submit', value='Login')
                        a.login-forgot(href='/forgot') Forgot Password?