doctype html
html
    head
        title Fractured League
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/profile.css' rel='stylesheet')
    body
        include include/top-bar.jade

        .backdrop-cover
            if message
                .well.message #{message}

            .profile
                .profile-username rukqoa
                    a.profile-edit(href='/profile-edit')
                        i.fa.fa-pencil
                .profile-heading About
                .profile-subheading Steam:
                    .profile-steam-name rukqoa
                .profile-subheading Role:
                    .profile-role Admin
                .profile-subheading About me:
                    .profile-text Hi I built this site

        script(src='js/jquery-2.1.4.min.js')
        script(src='js/masonry.min.js')
