doctype html
html
    head
        title Fractured Pugs - Register
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/register.css' rel='stylesheet')
    body
        include include/top-bar

        .backdrop-cover
            if message
                .well.message #{message}

            .register-center
                .register-title
                    img(src='img/logo.png' alt='logo')
                form.form-horizontal.register-form(action='/register', method='post')
                    .form-group-lg
                        input.form-control(type='text', name='user', placeholder='Username')
                        input.form-control(type='email', name='email', placeholder='Email')
                        input.form-control(type='password', name='pass', placeholder='Password')
                        input.form-control(type='password', name='pass2', placeholder='Password Again')
                        input.btn.btn-primary.form-control(type='submit', value='Register')
