doctype html
html
    head
        title Fractured League - Seasons
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/season.css' rel='stylesheet')
    body
        include include/top-bar

        .backdrop-cover
            if message
                .well.message #{message}

            each season, index in seasons
                table.table
                    tr
                        th Ranking
                        th Team Name
                        th Wins
                        th Losses
                        th Ties
                    each val, index in season
                        tr
                            td #{index + 1}
                            td
                            td
                            td
                            td
