.match-title {
    margin: 1em;
    font-size: 2em;
    font-family: 'Aero Matics Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.personal, .open {
    margin: 0 1em 0 1em;
    font-size: 2em;
    display: block;
    overflow: hidden;
}

.match-box {
    margin: 0 1em 2em;
    padding: 0;
    display: inline-block;
    overflow: hidden;

    font-size: 0.6em;
    width: 20em;
}

.match-box .panel-heading {
    background-color: #1c1e22;
}

.match-box .panel-body {
    background-color: #191919;
}

.match-rules, .match-players {
    margin-left: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
}

.match-date, .match-time, .match-team1, .match-team2 {
    padding-left: 2em;
    text-indent: -2em;
}

.match-team1 {
    margin-top: 1em;
}

.match-name {
    color: #c44c39;
    font-size: 1.2em;
    font-family: 'Aero Matics Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.match-time-remaining {
    float: right;
    font-size: 0.8em;
}

a.panel-heading,
a.panel-heading:hover {
    text-decoration: none;
    display: block;
    cursor: pointer;
}