@font-face {
    font-family: 'Aero Matics Display';
    src: url('../font/Aero Matics Display Regular.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('../font/Aero Matics Regular.ttf');
}

html, body {
    height: 100%;
}

body {
    background: url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em 1em 1em;
    border-bottom: thin solid darkgray;

    font-family: 'Aero Matics Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top-bar a {
    color: white;
    display: inline-block;
    margin: 0 1.5em 0;
    font-size: 2em;
}

.top-bar .create {
    background: repeating-linear-gradient(-55deg, #c44c39, #c44c39 10px, black 10px, black 20px);
    text-decoration: none;
    border: solid 2px #c44c39;
    border-radius: 0.5em;
    padding: 0 1em 0;
}

@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 0;
    }
}

.top-bar .create:hover {
    animation: backgroundMove 0.8s linear infinite;
}

.top-bar .login,
.top-bar .register {
    float: right;
    margin: 0.6em 1em 0;

    font-size: 1.2em;
    font-family: 'Aero Matics', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.match {
    height: calc(100% - 85px);
    background-color: rgba(39, 43, 48, 0.8);
    color: white;
    font-family: 'Aero Matics', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    margin: 0;
    overflow: scroll;
}

.match-title {
    margin: 1em;
    font-size: 2em;
}

.personal, .open {
    margin: 0 1em 0 1em;
    font-size: 2em;
    display: block;
    overflow: hidden;
}

.pug-box {
    margin: 0 1em 2em;
    padding: 0;
    display: inline-block;
    overflow: hidden;

    font-size: 0.6em;
    width: 30%;
}

.pug-box .panel-body {
    background-color: gray;
}

.pug-rules, .pug-players {
    margin-left: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
}

.pug-rule, .pug-player {
    margin-left: 2em;
    padding-left: 2em;
    text-indent: -2em;
}

.pug-name {
    color: #c44c39;
    font-size: 1.2em;
}

a.pug-join {
    float: right;
    color: #c44c39;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.2em;
    border: solid 2px #c44c39;
    border-radius: 0.5em;
}

a.pug-join:hover {
    color: white;
    border-color: #c44c39;
    background: repeating-linear-gradient(-55deg, #c44c39, #c44c39 10px, black 10px, black 20px);
}

a.pug-join:hover img {
    visibility: hidden;
}

a.pug-join img {
    height: 1em;
    vertical-align: middle;
    margin: 0 0.2em 0;
    visibility: visible;
}

a.pug-join span {
    vertical-align: middle;
}