.match-title {
    margin: 1em;
    font-size: 2em;
}

.personal, .open {
    margin: 0 1em 0 1em;
    font-size: 2em;
    display: block;
    overflow: hidden;
}

.pug-box {
    margin: 0 1em 2em;
    padding: 0;
    display: inline-block;
    overflow: hidden;

    font-size: 0.6em;
    width: 30%;
}

.pug-box .panel-heading {
    background-color: #1c1e22;
}

.pug-box .panel-body {
    background-color: #191919;
}

.pug-rules, .pug-players {
    margin-left: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
}

.pug-rule, .pug-player {
    margin-left: 2em;
}

.pug-desc, .pug-rule, .pug-player {
    padding-left: 2em;
    text-indent: -2em;
}

.pug-name {
    color: #c44c39;
    font-size: 1.2em;
}

a.pug-join {
    float: right;
    color: #c44c39;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.2em;
    border: solid 2px #c44c39;
    border-radius: 0.5em;
}

a.pug-join:hover {
    color: white;
    border-color: #c44c39;
    background: repeating-linear-gradient(-45deg, #c44c39, #c44c39 10px, black 10px, black 20px);
    animation: backgroundMove 0.5s linear infinite;
    background-size: 28px 100%;
}

a.pug-join:hover img {
    visibility: hidden;
}

a.pug-join img {
    height: 1em;
    vertical-align: middle;
    margin: 0 0.2em 0;
    visibility: visible;
}

a.pug-join span {
    vertical-align: middle;
}